@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
}

.material-icons.md-48 {
    font-size: 48px;
}

body
{
    background-image: url("demo-background.jpg");
    background-size: cover;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: #ffffff;
    padding: 20px 60px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

#username,
#password {
    height: 40px;
    margin-bottom: 10px;
    border: solid 1px #e4e4e4;
    border-radius: 5px;
    padding: 10px 10px 10px 20px;
}

#username:placeholder-shown, #password:placeholder-shown
{
    font-size: 18px;
}

.btn-login {
    border: none;
    border-radius: 5px;
    background-color: #00b300;
    color: white;
    font-weight: 600;
    cursor: pointer;
    padding: 16px 40px;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}
