
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* take remaining width */
  justify-content: flex-start;
  background-color: #cfcfcf;
  position: absolute;
  left: 400px;
  width: calc(100% - 400px);
  top: 0;
}

.main-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}

.profile {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  width: 90%;
  gap: 10px;
  height: 60px;
}

.profile-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 12px;
  background-color: #fff;
  height: 60px;
  padding: 0 20px;
  font-size: 20px;
}

.notification-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: #fff;
  height: 60px;
  width: 60px;
}

.notification-box i {
  font-size: 24px;
}

.profile img {
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.header-cta {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 100px;
}

.maincta-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  /* a green button with padding 20px */
  background-color: #00b300;
  color: #fff;
  padding: 18px 20px;
  border: 0;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.maincta-btn:hover {
  background-color: #000;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.search-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: fle;
  width: 90%;
  height: 60px;
  padding-bottom: 10px;
}

.search {
  display: flex;
  align-items: center;
  color: #9b9b9b;
}

.search input {
  padding-left: 60px;
  height: 60px;
  outline: none;
  border: none;
  border-radius: 12px;
  color: #000;
  font-size: 18px;
}

.search .bx-search {
  position: absolute;
  z-index: 99;
  margin-left: 20px;

  font-size: 32px;
}

/* make .content-container align in the center of the .content-box */
.content-box {
  display: flex;
  /* align-items: right; */
  justify-content: space-between;
  width: 90%;
  height: 100%;
  overflow-y: auto;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

/* make content-card a white square with shadow in the middle of the screen */
.content-card {
  display: flex;
  flex-direction: column;
  width: 960px;
  height: 150px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 20px;
}

/* set the rq-subcategory to bold and 24px */
.rq-subcategory {
  font-weight: 600;
  font-size: 24px;
}

/* set rq-date to the right corner of the content-card */
.rq-date {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* set rq-status right under rq-subcategory as a small dim text */
.rq-status {
  font-size: 14px;
  color: #9b9b9b;
  margin-top: 10px;
}

/* set button hover to black */
.rq-view:hover {
  background-color: black;
  width: px;
}

/* set rq-urgency in the left bottom corner bottom aligned to rq-button */
/* .rq-urgency {
  position: absolute;
  bottom: 20px;
  left: 20px;
} */

/* make the div .rq-button be in the bottom right corner of the content-card */
.rq-button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  bottom: 20px;
  right: 20px;
}


.rq-button {

  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  flex-direction: row;
  gap: 10px;
}

.rq-button button
{
  background-color: #00b300;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}