body{
  margin:0 auto;
  background-size: 100% ;

}

.container{
  width: 700px;
  height: 600px;
  text-align: center;
  margin: 0 auto;
  background-color: #FFFFFF;
  border-radius: 4px;
  margin:auto;
  border-style: ridge;
  margin-top: 70px;
  
}

input[type=text], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #80D4FF;
  
}

.btn-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 56px;
  gap: 14px;
  position: absolute;
  width: 207px;
  height: 56px;
  left: 760px;
  top: 500px;
  background-color: #00C442;

}

.title{
  
    margin: 7rem 0 5rem 0;
    text-align:center;
    font-size: 20px;


}

.input-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 56px;
  position: absolute;
  width: 207px;
  height: 56px;
  left: 671px;
  top: 450px;
  

}

.form-input{
  text-align: center;
  font-size: 17px;
  
}
 
