body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    width: 50%;
    margin-left: 30px;
    margin-top: 10px;
    padding: 20px;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow: hidden;
}

.sidenav a {
    color: #e8e8e8;
    padding: 16px;
    text-decoration: none;
    display: block;
    margin-left: 20px;
}

.sidenav a:hover {
    border-left: 5px solid #00d749;
    color: #00d749;
}

.formStyle {
    padding: 20px;
    margin: 50px auto;
    text-align: center;
    justify-content: left;
}

.formStyle input,
textarea {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #2c3e50;
    font-size: 13px;
}

.formStyle button {
    width: 200px;
    background: #27AE60;
    font-weight: bold;
    color: #E8E8E8;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin-top: 50px;
}