.table {
    width: 90%;
}

table {
    width: 80%;
    border-spacing: 0;
    width: 100%;
    text-align: center;
    gap: 1px;
    border-collapse: collapse;

}

th {
    padding: 10px;
    background-color: white;
    border-bottom: #ececec 2px solid;
}

th:first-child {
    border-top-left-radius: 10px;

}

th:last-child {
    border-top-right-radius: 10px;
}

tr {
    background-color: white;
    height: 40px;
    border-bottom: #ececec 2px solid;

}

td button {
    background-color: #27AE60;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-left: 8px;
}
