.form
{
    padding: 40px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

form
{
    display: flex;
    flex-direction: column;
}

form input
{
    width: 400px;
    height: 40px;
    padding-left: 20px;

}

#notes
{
    height: 200px;
    padding-left: 20px;
    padding-top: 20px;

}

label
{
    margin-top: 10px;
}

select
{
    width: 400px;
    height: 40px;
    padding-left: 20px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    outline: none;
}
