.mainDown {
    align-content: center;
    justify-content: center;
}

.formDiv {
    background-color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.formDiv>div {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    height: 100%;
    padding: 0.5rem 0;
}

.formDiv>div:last-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.formDiv>div:last-child>button {
    background-color: #00D749;
    color: white;
    border: 0;
    padding: 0.75rem 2rem;
    border-radius: 0.3rem;
}

.formLabel {
    width:30%;
    line-height: 1.5rem;
}

.formSelect {
    width: 100%;
    height: 1.75rem;
    border: 0;
    margin: 0;
    padding: 0;
}

.formField {
    height: 1.75rem;
    border: 0;
    border-bottom: 1px solid #a6a6a6;
    margin: 0 auto;
    padding: 0;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*flex-grow: 1;*/
}

.formField>input {
    border: 0;
    line-height: 1.5rem;
    border-radius: 0.2rem;
}

.formCol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.formField>textarea {
    resize: none;
    display: block;
    flex: auto;
    border: 0;
    line-height: 1.5rem;
    border-radius: 0.2rem;
    width: 100%;

}

.formField>textarea:focus {
    outline: none;
}

/*.formText expands with the textarea size*/
.formText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


